html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background: palevioletred;
  min-height: 40px;
}

.header-title {
  width: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  background-color: wheat;
  padding: 50px;
  flex-grow: 1;
  text-align: center;
}

footer {
  min-height: 40px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
}

.footer-nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
